parameters:
    level: 9
    paths:
        - src

    tmpDir: var/phpstan/cache
services:
    -
        class: Flow\Types\PHPStan\StructureTypeReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension