<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Symfony Static Content Generator</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
{% block content %}

{% endblock %}
<script src="assets/js/scripts.js"></script>
</body>
</html>